<h4>Registro Persona </h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar(forma)">

  <div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Tipo documento</label>
        <div class="col-8">
    
          <input class="form-control is-invalid"
                 type="text"
                 placeholder="Tipo documento"
                 formControlName="tipo"
                 [class.is-invalid]="tipoValido"
                 >
                 <small *ngIf="tipoValido" class="text-danger">
                  El tipo de documento es obligatorio.
                 </small>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Documento</label>
        <div class="col-8">
    
          <input class="form-control"
                 type="text"
                 placeholder="Documento"
                 formControlName="documento"
                 [class.is-invalid]="documentoValido"
               >
               <small *ngIf="documentoValido" class="text-danger">
                El documento es obligatorio y debe tener más de 6 carácteres.
               </small>
        </div>
      </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [class.is-invalid]="nombreValido"
               >
               <small *ngIf="nombreValido" class="text-danger">
                El nombre es obligatorio.
               </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Telefono</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Telefono"
               formControlName="telefono"
               [class.is-invalid]="telefonoValido"
               >
               <small *ngIf="telefonoValido" class="text-danger">
                El telefono es obligatorio.
               </small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="email"
             [class.is-invalid]="emailValido"
               >
               <small *ngIf="emailValido" class="text-danger">
                El email es obligatorio.
               </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="col-8">

      <input class="form-control"
             type="text"
             placeholder="Dirección"
             formControlName="direccion"
             [class.is-invalid]="direccionValido"
               >
               <small *ngIf="direccionValido" class="text-danger">
                la Dirección es obligatoria.
               </small>
    </div>
  </div>





  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<br>


